.container{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;

}
.btn{
	margin: 10px;
	border: none;
	padding: 24px;
	width: 220px;
	background: #e6e6ff;
	text-decoration: none;
	color: white;
	font-size: 16px;
	border-radius: 15px;
}

body{
	background: #f1f1f1;
	margin: 0;
	padding: 0;
}
